@import "_nav";
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;

  .imgHeader {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation: picture 10s linear infinite;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .headerTxt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 600px;
    height: 80%;
    animation: text 2s linear 0.5s both;
    z-index: 9999;
    .hrLine {
      margin-bottom: 20px;
      background-color: $mainColor;
      width: 50px;
      height: 4px;
      border: none;
    }

    h1,
    h2,
    h3 {
      border: 1px, solid #333;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: left;
    }

    h1 {
      color: $mainColor;
      font-size: 35px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 55px;
      color: rgb(236, 232, 230);
      line-height: 70px;
      margin-bottom: 30px;
    }
    h3 {
      font-size: 30px;
      color: rgb(236, 232, 230);
      margin-bottom: 30px;
    }
    .headerContactBtn {
      padding: 10px 60px;
      font-size: 17px;
      font-family: "roboto";
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      color: rgb(236, 232, 230);
      background-color: transparent;
      border: 2px solid rgb(236, 232, 230);
      border-radius: 25px 25px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: rgb(236, 232, 230);
        color: $mainColor;
      }
    }
  }
}
@keyframes picture {
  0% {
    opacity: 0;
  }
  // 8% {
  //   opacity: 0.8;
  // }
  13% {
    opacity: 1;
  }
  87% {
    opacity: 1;
  }

  // 92% {
  //   opacity: 0.8;
  // }
  100% {
    opacity: 0;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  header {
    .headerTxt {
      align-items: center;

      h1 {
        font-size: 35px;
        text-align: center;
      }
      h2 {
        font-size: 40px;
        line-height: 60px;
        text-align: center;
      }
      h3 {
        font-size: 30px;
        text-align: center;
      }
    }
  }
}
@media (max-width: 800px) {
  header {
    .headerTxt {
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 35px;
        line-height: 55px;
      }
      h3 {
        font-size: 25px;
      }
    }
  }
}
@media (max-width: 500px) {
  header {
    .headerTxt {
      h1 {
        font-size: 30px;
      }
      h2 {
        font-size: 35px;
        // line-height: 50px;
      }
      h3 {
        font-size: 22px;
      }
    }
  }
}
