nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.navTel {
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: 0.4s;

  .navTxt {
    visibility: hidden;
    width: 100%;
    font-family: "mulish";
    text-align: right;
    margin-right: 120px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.activeNavTel {
  background-color: $mainColor;
  .navTxt {
    visibility: visible;
    i {
      padding-right: 5px;
      padding-left: 20px;
    }
  }
}

.navWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: 0.4s;

  .logo {
    margin-left: 50px;
    width: 350px;
    transition: 0.3s;
  }
  .activeImg {
    width: 250px;
  }

  .hamburgerBtn:hover {
    transform: scale(1.1);
  }
}
.hamburgerBtn {
  display: none;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 22px;
  transition: 0.3s;
}
.nav-list {
  padding-right: 90px;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  .nav-item {
    align-self: center;
    text-align: center;
    padding-left: 10px;
    border-left: 2px solid $secondColor;
    list-style: none;

    &:nth-of-type(1) {
      border-left: none;
    }

    .menu {
      font-size: 15px;
      padding: 0 0 5px;
      text-decoration: none;
      color: #e6e5db;
      text-transform: uppercase;
      // font-family: "mulish";
      letter-spacing: 3px;
      // transition: 0.2s;
      &:hover {
        font-weight: 700;
        color: $mainColor;
      }
    }
  }
}
.activeNavList {
  background-color: black;
}

@media (max-width: 1024px) {
  .navTel {
    .navTxt {
      font-size: 10px;
      margin-right: 0;
      text-align: center;
    }
  }
  .navWrapper {
    padding: 0 50px;
    transition: 0.3s;

    .activeImg {
      margin-left: 0;
      width: 200px;
    }
  }
  .nav-list {
    display: none;
    padding-right: 0;
    .menu {
      box-shadow: 0 1px 0 0 white;
    }
    .nav-item {
      border: none;
      animation: animateLi 0.5s ease calc(var(--i) * 150ms) both;
    }
  }

  .hamburgerBtn {
    display: block;
  }
  .show {
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: animateUp 0.3s ease both;

    .menu:hover {
      box-shadow: 0 2px 0 0 $mainColor;
    }
  }
}
@media (max-width: 550px) {
  .navGpsSpan {
    display: none;
  }
  .navWrapper {
    .activeImg {
      width: 150px;
    }
  }
}
@keyframes animateUp {
  0% {
    opacity: 0;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 200px;
  }
}
@keyframes animateLi {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }
  100% {
    opacity: 1;
  }
}
