.s1 {
  display: flex;
  justify-content: space-evenly;

  .infoTxt {
    width: 40%;
    margin-top: 30px;
    .hrLine {
      margin-bottom: 20px;
      background-color: $mainColor;
      width: 50px;
      height: 4px;
      border: none;
    }

    h1,
    h2 {
      letter-spacing: 2px;
      text-transform: uppercase;
      text-align: left;
    }

    h1 {
      color: $mainColor;
      font-size: 35px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 50px;
      color: black;
      line-height: 70px;
      margin-bottom: 30px;
    }
  }
  p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 40px;
  }
  .imgAboutWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 60%;
    height: 100%;

    .imgAbout {
      margin-top: 40px;
      overflow: hidden;
      position: relative;
      width: 40%;

      .images {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: 0.4s;
      }
      .headerAbout {
        text-align: center;
        visibility: hidden;
        top: 0;
        left: 0;
        right: 0;
        margin: 20px 12px 0 12px;
        font-size: 22px;
        color: white;
        text-transform: uppercase;
      }
      .textAbout {
        display: block;
        font-size: 15px;
        margin: 10px 12px;
        line-height: 22px;
        font-family: "mulish";
        text-align: center;
        visibility: hidden;
        color: white;
      }
      .newBtn {
        align-self: center;
        visibility: hidden;
        padding: 9px 15px;
        font-size: 18px;
        margin: 0 auto;
        color: white;
        display: block;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 25px 25px;
        cursor: pointer;
      }

      .newBtn:hover {
        background-color: #fff;
        color: rgb(31, 87, 3);
      }

      .imgOne {
        background-image: url("../images/alp.jpeg");
      }
      .imgTwo {
        background-image: url("../images/zywoplotmain.jpg");
      }
      .imgThree {
        background-image: url("../images/rake.jpg");
      }
      .imgFour {
        background-image: url("../images/snow-3146420_1920.jpg");
      }
      .images::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        z-index: -1;
      }
      .images:hover::after {
        background: rgba(24, 49, 13, 0.8);
        opacity: 1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }

      .images:hover {
        transform: scale(1.05);
      }
    }
    .imgAbout:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    .imgAbout:hover .headerAbout {
      visibility: visible;
    }
    .imgAbout:hover .newBtn {
      visibility: visible;
    }
    .imgAbout:hover .textAbout {
      visibility: visible;
    }
    // .imgAbout:hover .headerAbout {
    //   opacity: 1;
    // }
  }
}
@media (max-width: 1350px) {
  .s1 {
    width: 90%;
    .infoTxt {
      h2 {
        font-size: 40px;
        line-height: 50px;
      }
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 1024px) {
  .s1 {
    flex-direction: column;
    text-align: center;
    width: 85%;

    .hrLine {
      margin-left: auto;
      margin-right: auto;
    }
    .infoTxt {
      width: 100%;
      h2 {
        text-align: center;
        font-size: 45px;
        line-height: 60px;
      }
      h1 {
        text-align: center;
        font-size: 25px;
      }
    }
    .imgAboutWrapper {
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .s1 {
    width: 90%;
    .infoTxt {
      h2 {
        font-size: 35px;
        line-height: 40px;
      }
      h1 {
        font-size: 24px;
      }
    }
  }
}
@media (max-width: 600px) {
  .s1 {
    .infoTxt {
      p {
        font-size: 16px;
      }
    }
    .imgAboutWrapper {
      .imgAbout {
        margin-top: 25px;
      }
    }
  }
}
