.s4 {
  display: flex;

  .infoTxt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: rgba(0, 0, 0, 0.474);

    flex-basis: 100%;

    ::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-image: url(../images/road-2925075_1280.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      z-index: -1;
    }

    .contact-h1 {
      flex-basis: 100%;

      .hrLine {
        margin-bottom: 20px;
        background-color: $mainColor;
        width: 50px;
        height: 4px;
        border: none;
      }
    }
  }

  main {
    display: flex;
    width: 35%;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

    h1 {
      font-size: 45px;
      color: white;
      line-height: 70px;
      text-transform: uppercase;
    }

    h2 {
      margin: 0 10px;
      font-size: 20px;
      color: white;
      text-align: center;
      line-height: 100px;

      a {
        text-decoration: none;
        color: white;
      }
    }

    .fas {
      margin-right: 10px;
    }
  }

  // .contactnum,
  // .contacmail {
  //   // padding: 0 70px;
  //   // height: 150px;
  //   width: 70%;
  //   background-color: rgba($mainColor, 0.801);
  //   box-shadow: 1px 1px 1px white, -1px -1px 1px white;
  //   text-shadow: $h1-textshadow;
  // }

  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 45%;
    .google-maps {
      position: relative;
      padding-bottom: 60%; // This is the aspect ratio
      height: 0;
      width: 85%;
      overflow: hidden;
    }
    .google-maps iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }
}
@media (max-width: 1024px) {
  .s4 {
    .hrLine {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
    main {
      h1 {
        font-size: 35px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 800px) {
  .s4 {
    main {
      width: 80%;
      h1 {
        font-size: 30px;
        line-height: 50px;
      }
    }
    aside {
      width: 70%;
    }
  }
  .infoTxt {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .s4 {
    main {
      h1 {
        line-height: 40px;
      }
    }
    aside {
      width: 90%;
    }
  }
}
