.s2 {
  .offerContent {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-bottom: 20px;

    .row {
      width: 25%;
      .txt {
        width: 100%;
      }
    }
  }
  .hrLine {
    margin-left: auto;
    margin-right: auto;
  }
  .circle {
    margin: 20px auto;
    text-align: center;

    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $mainColor;
    span {
      line-height: 40px;
      color: white;
      font-size: 30px;
    }
  }
  h1 {
    font-size: 50px;

    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
  }
  h2 {
    margin: 0 auto;
    max-width: 200px;
    font-size: 18px;
    font-family: "oswald";
    font-weight: 400;
  }
  p {
    margin: 10px 0 20px;
    text-align: center;
    font-family: "mulish";
    font-size: 18px;
    line-height: 33px;
  }
}

@media (max-width: 1100px) {
  .s2 {
    width: 90%;
    h1 {
      font-size: 35px;
    }
    .offerContent {
      flex-direction: column;
      align-items: center;

      .row {
        width: 100%;
      }
    }
  }
}
@media (max-width: 1100px) {
  .s2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 600px) {
  .s2 {
    h1 {
      font-size: 30px;
      line-height: 45px;
    }
    p {
      font-size: 15px;
    }
  }
}
