$nav-paddind: 65px;
$mainColor: rgb(83, 179, 44);
$section-h1: 15vh;
$section-fz: 35px;
$secondColor: rgb(83, 179, 44);
$thirdColor: rgb(192, 171, 171);
$h1-textshadow: 1px 1px 8px black, -1px -1px 8px black;
$h1-ls: 5px;
$h1-color: #f2f0d5;
