@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  // padding-top: $nav-paddind;
  min-height: 300vh;
  font-family: "mulish", "arial", sans-serif;
}
.sections {
  min-height: 100vh;
  margin: 0px auto;
  padding-top: 110px;
  width: 70%;
  .hrLine {
    margin-bottom: 20px;
    background-color: $mainColor;
    width: 50px;
    height: 5px;
    border: none;
  }
}
.goUp {
  position: fixed;
  visibility: hidden;
  font-size: 15x;
  bottom: 35px;
  right: 35px;
  color: rgb(1, 16, 1);
  opacity: 0.1;
  z-index: 9999;
  cursor: pointer;
}
.goUpActive {
  visibility: visible;
}

@import "wrapper";
@import "header";
@import "sectionAbout";
@import "sectionOffer";
@import "sectionLaw";
@import "sectionContact";
@import "footer";
