* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

* h1,
* h2,
* h3 {
  font-family: "Oswald";
  font-weight: 500;
}

body {
  min-height: 300vh;
  font-family: "mulish", "arial", sans-serif;
}

.sections {
  margin: 0px auto 50px;
  padding: 110px 25px 0 25px;
  width: 80%;
}

.sections .hrLine {
  margin-bottom: 20px;
  background-color: #53b32c;
  width: 50px;
  height: 5px;
  border: none;
}

@media (max-width: 1024px) {
  .sections {
    padding: 70px 25px 0 25px;
  }
}

div.wrapper {
  max-width: 1900px;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

.navTel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navTel .navTxt {
  visibility: hidden;
  width: 100%;
  font-family: "mulish";
  text-align: right;
  margin-right: 120px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navTel .navTxt a {
  color: white;
  text-decoration: none;
}

.activeNavTel {
  background-color: #53b32c;
}

.activeNavTel .navTxt {
  visibility: visible;
}

.activeNavTel .navTxt i {
  padding-right: 5px;
  padding-left: 20px;
}

.navWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navWrapper .logo {
  margin-left: 50px;
  width: 350px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navWrapper .activeImg {
  width: 250px;
}

.navWrapper .menuBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menuBtn {
  position: relative;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 22px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menuBtn .hamburgerBtn {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menuBtn .hamburgerBtn::before,
.menuBtn .hamburgerBtn::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menuBtn .hamburgerBtn::before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menuBtn .hamburgerBtn::after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.menuBtn.open .hamburgerBtn {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  background: transparent;
}

.menuBtn.open .hamburgerBtn::before {
  -webkit-transform: rotate(45deg) translate(15px, 15px);
          transform: rotate(45deg) translate(15px, 15px);
}

.menuBtn.open .hamburgerBtn::after {
  -webkit-transform: rotate(-45deg) translate(-15px, 15px);
          transform: rotate(-45deg) translate(-15px, 15px);
}

.nav-list {
  padding-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-list .nav-item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding-left: 10px;
  border-left: 2px solid #53b32c;
  list-style: none;
}

.nav-list .nav-item:nth-of-type(1) {
  border-left: none;
}

.nav-list .nav-item .menu {
  font-size: 15px;
  padding: 0 0 5px;
  text-decoration: none;
  color: #e6e5db;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-list .nav-item .menu:hover {
  font-weight: 700;
  color: #53b32c;
}

.activeNavList {
  background-color: black;
}

@media (max-width: 1024px) {
  .navTel .navTxt {
    font-size: 10px;
    margin-right: 0;
    text-align: center;
  }
  .navWrapper {
    padding: 5px 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navWrapper .activeImg {
    margin-left: 0;
    width: 250px;
  }
  .nav-list {
    display: none;
    padding-right: 0;
  }
  .nav-list .menu {
    -webkit-box-shadow: 0 1px 0 0 white;
            box-shadow: 0 1px 0 0 white;
  }
  .nav-list .nav-item {
    border: none;
    -webkit-animation: animateLi 0.5s ease calc(var(--i) * 150ms) both;
            animation: animateLi 0.5s ease calc(var(--i) * 150ms) both;
  }
  .menuBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .show {
    height: 200px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-animation: animateUp 0.3s ease both;
            animation: animateUp 0.3s ease both;
  }
  .show .menu:hover {
    -webkit-box-shadow: 0 2px 0 0 #53b32c;
            box-shadow: 0 2px 0 0 #53b32c;
  }
}

@media (max-width: 550px) {
  .navGpsSpan {
    display: none;
  }
  .navWrapper .activeImg {
    width: 200px;
  }
}

@media (max-width: 350px) {
  .navWrapper .activeImg {
    width: 150px;
  }
}

@-webkit-keyframes animateUp {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 200px;
  }
}

@keyframes animateUp {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 200px;
  }
}

@-webkit-keyframes animateLi {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateLi {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  100% {
    opacity: 1;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

header .imgHeader {
  position: absolute;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

header .activeImgHeader {
  opacity: 0;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

header .headerTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  height: 80%;
  -webkit-animation: text 2s linear 0.5s both;
          animation: text 2s linear 0.5s both;
  z-index: 9999;
}

header .headerTxt .hrLine {
  margin-bottom: 20px;
  background-color: #53b32c;
  width: 50px;
  height: 4px;
  border: none;
}

header .headerTxt h1,
header .headerTxt h2,
header .headerTxt h3 {
  border: 1px, solid #333;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

header .headerTxt h1 {
  color: #53b32c;
  font-size: 35px;
  margin-bottom: 20px;
}

header .headerTxt h2 {
  font-size: 55px;
  color: #ece8e6;
  line-height: 70px;
  margin-bottom: 30px;
}

header .headerTxt h3 {
  font-size: 30px;
  color: #ece8e6;
  margin-bottom: 30px;
}

header .headerTxt .headerContactBtn {
  padding: 10px 60px;
  font-size: 17px;
  font-family: "roboto";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ece8e6;
  background-color: transparent;
  border: 2px solid #ece8e6;
  border-radius: 25px 25px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .headerTxt .headerContactBtn:hover {
  background-color: #ece8e6;
  color: #53b32c;
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  header .headerTxt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .headerTxt h1 {
    font-size: 35px;
    text-align: center;
  }
  header .headerTxt h2 {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
  }
  header .headerTxt h3 {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  header .headerTxt {
    padding-top: 40px;
  }
  header .headerTxt h1 {
    font-size: 20px;
  }
  header .headerTxt h2 {
    font-size: 22px;
    line-height: 15px;
  }
  header .headerTxt h3 {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  header .headerTxt h1 {
    font-size: 30px;
  }
  header .headerTxt h2 {
    font-size: 35px;
    line-height: 45px;
  }
  header .headerTxt h3 {
    font-size: 22px;
  }
}

.s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.s1 .infoTxt {
  width: 40%;
  margin-top: 30px;
}

.s1 .infoTxt .hrLine {
  margin-bottom: 20px;
  background-color: #53b32c;
  width: 50px;
  height: 4px;
  border: none;
}

.s1 .infoTxt h1,
.s1 .infoTxt h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}

.s1 .infoTxt h1 {
  color: #53b32c;
  font-size: 35px;
  margin-bottom: 20px;
}

.s1 .infoTxt h2 {
  font-size: 50px;
  color: black;
  line-height: 70px;
  margin-bottom: 30px;
}

.s1 p {
  font-size: 18px;
  margin-top: 10px;
  line-height: 33px;
}

.s1 .imgAboutWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  width: 60%;
  height: 100%;
}

.s1 .imgAboutWrapper .imgAbout {
  margin-top: 40px;
  overflow: hidden;
  position: relative;
  width: 40%;
}

.s1 .imgAboutWrapper .imgAbout .images {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.s1 .imgAboutWrapper .imgAbout .headerAbout {
  text-align: center;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px 12px 0 12px;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.s1 .imgAboutWrapper .imgAbout .textAbout {
  display: block;
  font-size: 15px;
  margin: 10px 12px;
  line-height: 22px;
  font-family: "mulish";
  text-align: center;
  visibility: hidden;
  color: white;
}

.s1 .imgAboutWrapper .imgAbout .newBtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  visibility: hidden;
  padding: 9px 15px;
  font-size: 18px;
  margin: 0 auto;
  color: white;
  display: block;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px 25px;
  cursor: pointer;
}

.s1 .imgAboutWrapper .imgAbout .newBtn:hover {
  background-color: #fff;
  color: #1f5703;
}

.s1 .imgAboutWrapper .imgAbout .imgOne {
  background-image: url("../images/alp.jpeg");
}

.s1 .imgAboutWrapper .imgAbout .imgTwo {
  background-image: url("../images/zywoplotmain.jpg");
}

.s1 .imgAboutWrapper .imgAbout .imgThree {
  background-image: url("../images/rake.jpg");
}

.s1 .imgAboutWrapper .imgAbout .imgFour {
  background-image: url("../images/snow-3146420_1920.jpg");
}

.s1 .imgAboutWrapper .imgAbout .images::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.s1 .imgAboutWrapper .imgAbout .images:hover::after {
  background: rgba(24, 49, 13, 0.8);
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.s1 .imgAboutWrapper .imgAbout .images:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.s1 .imgAboutWrapper .imgAbout:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.s1 .imgAboutWrapper .imgAbout:hover .headerAbout {
  visibility: visible;
}

.s1 .imgAboutWrapper .imgAbout:hover .newBtn {
  visibility: visible;
}

.s1 .imgAboutWrapper .imgAbout:hover .textAbout {
  visibility: visible;
}

@media (max-width: 1350px) {
  .s1 {
    width: 90%;
  }
  .s1 .infoTxt h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .s1 .infoTxt h1 {
    font-size: 20px;
  }
  .s1 .infoTxt p {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .s1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .s1 .hrLine {
    margin-left: auto;
    margin-right: auto;
  }
  .s1 .infoTxt {
    width: 100%;
  }
  .s1 .infoTxt h2 {
    text-align: center;
    font-size: 45px;
    line-height: 60px;
  }
  .s1 .infoTxt h1 {
    text-align: center;
    font-size: 25px;
  }
  .s1 .imgAboutWrapper {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .s1 {
    width: 90%;
  }
  .s1 .infoTxt h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .s1 .infoTxt h1 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .s1 .infoTxt p {
    font-size: 15px;
  }
  .s1 .imgAboutWrapper .imgAbout {
    margin-top: 25px;
  }
}

.s2 {
  width: 900px;
}

.s2 .offerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding-bottom: 20px;
}

.s2 .offerContent .row {
  width: 25%;
}

.s2 .offerContent .row .txt {
  width: 100%;
}

.s2 .hrLine {
  margin-left: auto;
  margin-right: auto;
}

.s2 .circle {
  margin: 20px auto;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #53b32c;
}

.s2 .circle span {
  line-height: 40px;
  color: white;
  font-size: 30px;
}

.s2 h1 {
  font-size: 50px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
}

.s2 h2 {
  margin: 0 auto;
  max-width: 200px;
  font-size: 18px;
  font-family: "oswald";
  font-weight: 400;
}

.s2 p {
  margin: 10px 0 20px;
  text-align: center;
  font-family: "mulish";
  font-size: 18px;
  line-height: 33px;
}

@media (max-width: 1100px) {
  .s2 {
    width: 90%;
  }
  .s2 h1 {
    font-size: 35px;
  }
  .s2 .offerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .s2 .offerContent .row {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .s2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 600px) {
  .s2 h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .s2 p {
    font-size: 15px;
  }
}

.s3 {
  width: 100%;
  margin: 0 auto 50px;
  position: relative;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
}

.s3 ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(../images/hammer-719066_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.s3 .hrLine {
  margin-left: auto;
  margin-right: auto;
}

.s3 h1 {
  font-size: 45px;
  color: white;
  line-height: 70px;
  text-transform: uppercase;
}

.s3 h2 {
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  color: #53b32c;
  font-family: "mulish";
}

.s3 p {
  margin: 20px 60px;
  font-size: 18x;
  font-family: "mulish";
  letter-spacing: 2px;
  color: white;
  line-height: 33px;
}

.s3 .content article {
  width: 900px;
}

@media (max-width: 1024px) {
  .s3 {
    padding-left: 5px;
    padding-right: 5px;
  }
  .s3 h1 {
    font-size: 35px;
  }
  .s3 h2 {
    font-size: 25px;
    line-height: 35px;
  }
  .s3 p {
    margin: 10px 50px;
    font-size: 16x;
  }
}

@media (max-width: 600px) {
  .s3 h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .s3 h2 {
    font-size: 20px;
    line-height: 32px;
  }
  .s3 p {
    margin: 10px 15px;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .s3 p {
    margin: 20px 0px;
    font-size: 14x;
  }
}

.s4 {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.s4 .infoTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.474);
}

.s4 .infoTxt ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(../images/road-2925075_1280.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.s4 .infoTxt .contact-h1 {
  margin-bottom: 50px;
}

.s4 .infoTxt .contact-h1 .hrLine {
  margin-bottom: 20px;
  background-color: #53b32c;
  width: 50px;
  height: 4px;
  border: none;
}

.s4 main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  margin: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s4 main h1 {
  font-size: 45px;
  color: white;
  line-height: 70px;
  text-transform: uppercase;
}

.s4 main .contactnum,
.s4 main .contacmail {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.s4 main .fas {
  margin-right: 10px;
}

.s4 h2 {
  font-size: 25px;
  font-weight: 400;
  font-family: "roboto";
  margin: 0 10px;
  color: #53b32c;
  text-align: center;
  line-height: 70px;
}

.s4 h2 a {
  text-decoration: none;
  color: white;
}

.s4 aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px;
  width: 45%;
}

.s4 aside .google-maps {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  width: 85%;
  overflow: hidden;
}

.s4 aside .google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 1300px) {
  .s4 main h1 {
    font-size: 38px;
    line-height: 55px;
  }
}

@media (max-width: 1150px) {
  .s4 .hrLine {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .s4 main h1 {
    font-size: 35px;
    line-height: 50px;
  }
  .s4 main .contactnum,
  .s4 main .contacmail {
    width: 90%;
  }
  .s4 main .contactnum h2,
  .s4 main .contacmail h2 {
    font-size: 23px;
  }
}

@media (max-width: 930px) {
  .s4 main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
  .s4 main h1 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .s4 main .contactnum,
  .s4 main .contacmail {
    width: 65%;
  }
  .s4 aside {
    width: 70%;
  }
  .infoTxt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .s4 main h1 {
    line-height: 40px;
  }
  .s4 main .contactnum,
  .s4 main .contacmail {
    width: 90%;
  }
  .s4 main .contactnum h2,
  .s4 main .contacmail h2 {
    font-size: 19px;
  }
  .s4 aside {
    width: 90%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  background-color: #000;
  text-align: right;
  letter-spacing: 1px;
}

@media (max-width: 500px) {
  footer {
    font-size: 10px;
  }
}

.goUp {
  position: fixed;
  visibility: hidden;
  font-size: 15x;
  bottom: 35px;
  right: 35px;
  color: #53b32c;
  opacity: 0.1;
  z-index: 9999;
  cursor: pointer;
}

.goUpActive {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */