@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* h1,
* h2,
* h3 {
  font-family: "Oswald";
  font-weight: 500;
}

body {
  // padding-top: $nav-paddind;
  min-height: 300vh;
  font-family: "mulish", "arial", sans-serif;
}
.sections {
  margin: 0px auto 50px;
  padding: 110px 25px 0 25px;
  width: 80%;
  .hrLine {
    margin-bottom: 20px;
    background-color: $mainColor;
    width: 50px;
    height: 5px;
    border: none;
  }
}
@media (max-width: 1024px) {
  .sections {
    padding: 70px 25px 0 25px;
  }
}

@import "wrapper";
@import "header";
@import "sectionAbout";
@import "sectionOffer";
@import "sectionLaw";
@import "sectionContact";
@import "footer";
@import "goUpBtn";
